@model EnrollmentApplication.Models.Student

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class=" panel-title">Our Student of the Week: @Model.FirstName @Model.LastName </h3>
    </div>
   
</div>
